<font size="2">
<div style="background: #cdc0b0; position: fixed; top: 0; left:0; margin: 0; text-align: right;">

  <% if (user) { %>
    <form method="GET" action="/urls/new" style="display:inline">
      <button type="submit" class="btn btn-link" >New URL</button>
   </form>
    <form method="POST" action="/logout" style="display:inline">
      <button type="submit" class="btn btn-link" >Logout</button>
   </form>
    <span style="margin:0 25px">
      <a href="/urls">List of URLs</a>
    </span>
  <% } else { %>
    <a href="/register" class="btn btn-link">Register</a>
    <a href="/login" class="btn btn-link">Login</a>
  <% } %>
</div>
