<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

<h2>Loop</h2>
<ul>
    <% urlDatabase.forEach(function(url) { %>
        <li><%= url.index %> - <%= url.path %></li>
    <% }); %>
</ul>
...
</body>
</html>

