<!DOCTYPE html>
<html lang="en">
  <header class="jumbotron">
    <% include ./partials/_header.ejs %>

    <div style="text-align:center;">
      <h1>TinyApp</h1>
    </div>
  </header>
  <body>
  <body>
    <% include partials/_header %>
    <form action="/urls" method="POST" >
      <label for="longURL">Enter a longURL:</label>
      <input id="longURL" type="text" name="longURL" >
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
