<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

<h2>Loop</h2>
<ul>
    <% Object.keys(urls).forEach(function(shortURL) { %>
        <li><%= shortURL %> - <%= urls[shortURL] %>
<form method="POST" action="/urls/<%= shortURL %>/delete" style="display: inline;">
  <button type="submit" class="btn btn-danger">Delete</button>
        </li>
</form>
    <% }); %>
</ul>
...
</body>
</html>
