<!DOCTYPE html>
<html lang="en">
  
  <!--
  <head>
    <title>TinyApp</title>
  </head>
  -->

  <header class="jumbotron">
    <% include ./partials/_header.ejs %>

    <div style="text-align:center;">
      <h1>TinyApp</h1>
    </div>
  </header>
  <body>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
