<!DOCTYPE html>
<html lang="en">
<!--
<head>
  <title>TinyApp</title>
</head>
-->

<header class="jumbotron">
  <% include ./partials/_header.ejs %>

  <div style="text-align:center;">
    <h1>TinyApp</h1>
  </div>
</header>
<body>
<body>
    <!-- Add your EJS code here -->

<h2> USERS </h2>
<ul>
    <% Object.keys(urls).forEach(function(shortURL) { %>
        <li><%= shortURL %> - <%= urls[shortURL] %>
<form method="POST" action="/urls/<%= shortURL %>/delete" style="display: inline;">
  <button type="submit" class="btn btn-danger">Delete</button>
        </li>
</form>
    <% }); %>
</ul>
...
</body>
</html>
